.top-button{
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    animation-name: top-button;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes top-button {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.top-button svg{
    color: #2A4B7C;
    font-size: 30px;
}