form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  background-color: #2a4b7c;
  padding: 10px;
  margin-top: 10px;
}

.icon-plus {
  color: blue;
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
}
.icon-span {
  font-size: 23px;
  color: blue;
  cursor: pointer;
}
.addBlog {
  padding: 10px 30px;
  background-color: blue;
  color: white;
}
