.wrapper {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 20px;
    position: relative;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: #ffffff;
  padding: 50px 5px;
  top: 0;
  position: sticky;
  width: 30%;
  height: 100vh;
  float: left;
  overflow: auto;
  
}
.content{
    flex-basis: 70%;
}

@media (min-width: 992px){
    .wrapper .sidebar {
        margin: 0;
    }
}
